<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="content">
            <div class="content_header">
                <h1 class="head1"><%-  title %></h1>
                <div class="games">
                    <div class="controls">
                        <div class="filter">
                            <div class="select">
                                <div class="dropdown_filter_select" data-default="<%= data.order[0] %>">
                                    <label for="order" class="select-trigger text">
                                        Order by: <span><%= data.order[0] %></span>
                                    </label>  
                                    <div class="arrow_li">
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <ul class="select-options text">
                                        <% data.order.forEach(o => { %>
                                            <li data-value="<%= o %>" class="text"><%= o %></li>
                                            <%  })%>
                                    </ul>
                                </div>
                                <div class="dropdown_filter_select" data-default="<%= data.platforms[0] %>">
                                    <label for="platform" class="select-trigger text">
                                        Platforms <span><%= data.platforms[0] %></span>
                                    </label>
                                    <div class="arrow_li">
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <ul class="select-options text">
                                        <% (data.platforms?.parents || []).forEach(p => { %>
                                           <li data-value="<%= p %>" class="text"><%= p %>
                                            <% 
                                            const key = p.toLowerCase();
                                            const children = data.platforms[key];
                                          %>
                                                <% if (Array.isArray(children) && children.length > 0) { %>
                                                    <span class="arrow_child">▶</span>
                                                    <div class="children">
                                                       <% children.forEach(c=>{%>
                                                            <a href="">
                                                                <span class="text"><%= c %></span>
                                                            </a>
                                                       <%  })    %>
                                                    </div>
                                                  <% } %>
                                            </li>
                                            <%  })%>
                                        </ul>
                                </div>
                            </div>
                        </div>
                        <div class="display">
                            <div class="display_mode_title text">
                                Display options:
                            </div>
                            <div class="display_mode_select">
                                <div id="grid" class="mode-select active" role="button"></div>
                                <div id="column" class="mode-select" role="button"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_main">
                    <div class="discover_columns" id="load">
                        <% let xd = game.length > 5 ? 5 : game.length; %>
                        <% const rows = Math.ceil(game.length / xd); %>
                        <% for(let i=0; i < xd; i++ ){ %>
                            <div class="discover_columns_column">
                                <% for (let r = 0; r < rows; r++) { %>
                                    <% const index = r * xd + i; %>
                                    <% if (game[index]) { %>
                                    <div class="game_card">
                                        <div class="card_wrapper" tabindex="0">
                                            <div class="card_media">
                                                <img src="<%= game[index].background_image || '/images/No_Image_Available.jpg' %>" alt="" loading="lazy">

                                                <div class="screenshot-gallery">
                                                    <div class="screenshot-gallery_wrapper">
                                                        <%  (game[index]?.short_screenshots || []).forEach(img =>{%>
                                                            <img src="<%= img.image %>" alt="">
                                                            <% })%>
                                                    </div>
                                                    <div class="screenshot-gallery_progress_wrapper">
                                                        <% if ((game[index]?.short_screenshots || []).length > 1) { %>
                                                            <% (game[index].short_screenshots || []).forEach(() => { %>
                                                                <span class="progress"></span>
                                                            <% }) %>
                                                        <% } %>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <div class="card_info">
                                                <div class="info_platforms">
                                                    <%
                                                     const platformMap = {
                                                        "PC": "<i class=\"fa-brands fa-windows\"></i>",
                                                                    "PlayStation 5": "<i class=\"fa-brands fa-playstation\"></i>",
                                                                         "PlayStation 4": "<i class=\"fa-brands fa-uncharted\"></i>",
                                                                             "Xbox Series S/X": "<i class=\"fa-brands fa-xbox\"></i>",
                                                                                 "Xbox One": '<img class="" src="/images/xboxOne.jpg">',
                                                                                 "Nintendo Switch": "<i class=\"fa-solid fa-gamepad\"></i>",
                                                                                     "macOS": "<i class=\"fa-brands fa-apple\"></i>",
                                                                                        "Linux": "<i class=\"fa-brands fa-linux\"></i>"

                                                                                            };
                                                                                            %>
                                                                                              <%       if (Array.isArray(game[index].platforms)) {   %>
                                                                                                <%    game[index].platforms.forEach(plat =>{ %>
                                                                                                    <%- platformMap[plat.platform.name] || plat.platform.name %>
                                                                                                    <%   })%>
                                                                                                <%   } %>
                                                </div>
                                                <div class="card_title">
                                                    <a href="/game/<%= game[index].slug %>" class=""><%= game[index].name %></a>
                                                </div>
                                                <div class="card_button">
                                                    <button>
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                                <ul class="card_about">
                                                    <li class="card_about_info">
                                                        <div class="term">Release date:</div>
                                                        <div class="description"><%= game[index].released %></div>
                                                    </li>
                                                    <li class="card_about_info">
                                                        <div class="term">Genres:</div>
                                                        <div class="description">
                                                            <%- (game[index].genres || [])
                                                                     .map(gen => `<span><a href="">${gen.name}</a></span>`)
                                                                              .join(', ') 
                                                                                %>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="more">
                                                    <a href="/games-like-<%= game[index].slug %>" class="show_more_like">Show more like this</a>
                                                    <div class="arrow">
                                                        <span></span>   
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%   }        %>
                                    <%   }        %>
                            </div>
                            <%  }%> 
                    </div>
                    <div class="circle_wrapper">
                        <div class="circle"></div>
                    </div> 
                </div>
            </div>
        </div>      
    </div>
</main>
</body>
</html>