<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="content">
            <div class="content_header flex">
                <h1 class="head1"><%-  data.title[1] %></h1>
                <div class="game_name">
                    <p><%-  name %></p>
                    <button id="return"><i class="fa-solid fa-x"></i></button>
                </div>
            </div>
                <div class="games">
                    <div class="controls flex-end">
                        <div class="display">
                            <div class="display_mode_title text">
                                Display options:
                            </div>
                            <div class="display_mode_select">
                                <div id="grid" class="mode-select active" role="button"></div>
                                <div id="column" class="mode-select" role="button"></div>
                            </div>
                        </div>
                    </div>    
                </div>     
                <div class="content_main">
                    <div class="discover_columns" id="load">
                        <% for(let i=0; i<similar.length; i += 4){ %>
                            <div class="discover_columns_column">
                                <%   similar.slice(i, i + 4).forEach(game =>{ %>
                                    <div class="game_card">
                                        <div class="card_wrapper" tabindex="0">
                                            <div class="card_media">
                                                <img src="<%= game.background_image %>" alt="" loading="lazy">
                                            </div>
                                            <div class="card_info">
                                                <div class="info_platforms">
                                                    <%
                                                     const platformMap = {
                                                                "PC": "<i class=\"fa-brands fa-windows\"></i>",
                                                                    "PlayStation 5": "<i class=\"fa-brands fa-playstation\"></i>",
                                                                         "PlayStation 4": "<i class=\"fa-brands fa-uncharted\"></i>",
                                                                             "Xbox Series S/X": "<i class=\"fa-brands fa-xbox\"></i>",
                                                                                 "Xbox One": '<img class="" src="./images/xboxOne.jpg">',
                                                                                 "Nintendo Switch": "<i class=\"fa-solid fa-gamepad\"></i>",
                                                                                     "macOS": "<i class=\"fa-brands fa-apple\"></i>",
                                                                                        "Linux": "<i class=\"fa-brands fa-linux\"></i>"

                                                                                            };
                                                                                            %>
                                                                                              <%       if (Array.isArray(game.platforms)) {   %>
                                                                                                <%    game.platforms.forEach(plat =>{ %>
                                                                                                    <%- platformMap[plat.platform.name] || plat.platform.name %>
                                                                                                    <%   })%>
                                                                                                <%   } %>
                                                </div>
                                                <div class="card_title">
                                                    <a href="" class=""><%= game.name %></a>
                                                </div>
                                                <div class="card_button">
                                                    <button>
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%  })%> 
                            </div>
                         <%  }%> 
                    </div>
                    <div class="circle_wrapper">
                        <div class="circle"></div>
                    </div> 
                </div>
        </div>
    </div>
</main>
</body>
</html>