<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="game_content">
           <div class="game_content_wrap">
               <div class="breadcrumbs">
                   <ol>
                       <li>
                           <a href=""></a>
                           <meta content="">
                           <span class="separator"></span>
                       </li>
                       <li>
                            <a href=""></a>
                            <meta content="">
                            <span class="separator"></span>
                        </li>
                   </ol>
               </div>
               <div class="game_content_columns">
                   <div class="left">
                        <div class="game_header">
                            <div class="game_header_meta_tag">
                                <div class="game_meta_date"><%= game.released %></div>
                                <div class="platforms">

                                </div>
                            </div>
                        </div>
                        <h1 itemprop="name" class="game_name_title"><%= name %></h1>
                        <div class="game_buttons">
                            <button class="add"></button>
                            <button class="wish"></button>
                            <button class="save"></button>
                        </div>
                        <div class="rating-chart">
                            <p>Click to rate</p>
                            <div class="rating_dist">
                                <div class="rating_stat">

                                </div>
                                <div class="rating_dist_meta">
                                    <div class="rating_dist_labels">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="game_owner">
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <div class="game_about">
                            <h2>About</h2>
                            <div class="description">
                                <p class="desc"><%= game.description_raw %></p>
                            </div>
                        </div>
                        <div class="game_meta">
                            <div class="game_meta_block">

                            </div>
                        </div>
                        <div class="game_req">

                        </div>
                   </div>
                   <div class="right">
                        <div class="game_screenshots">
                            <div class="game_screenshots_inner">
                                <div class="game_movie">

                                </div>
                                <div class="game_screenshots_list">

                                </div>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</main>
</body>
</html>