<%- include("header.ejs") %>
<style>
    body {
    background: 
    linear-gradient(
        to bottom,
  rgba(26, 26, 26, 0.8) 0%,
  rgba(26, 26, 26, 0.85) 15%,
  rgba(26, 26, 26, 0.9) 25%,
  #1a1a1a 45%,
  #1a1a1a 100%
    ),
      url("<%= background_image %>");
    
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    transition: background 0.8s ease-in-out;
  
  </style>

<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="game_content">
           <div class="game_content_wrap">
               <div class="breadcrumbs">
                   <ol>
                       <li>
                           <a href="/">
                            <span>HOME</span>
                           </a>
                           <meta content="1">
                           <span class="separator">/</span>
                       </li>
                       <li>
                            <a href="">
                            <span>GAMES</span>
                            </a>
                            <meta content="2">
                            <span class="separator">/</span>
                            
                        </li>
                        <li>
                            <a href="">
                                <span><%= name.toUpperCase() %></span>
                                <meta content="3">
                            </a>
                        </li>
                   </ol>
               </div>
               <div class="game_content_columns">
                   <div class="left">   
                        <div class="game_header">
                            <div class="game_header_meta_tag">
                                <div class="game_meta_date"><%= game.released %></div>
                                <div class="platforms">
                                    <%
                                                     const platformMap = {
                                                                "PC": "<i class=\"fa-brands fa-windows\"></i>",
                                                                    "PlayStation 5": "<i class=\"fa-brands fa-playstation\"></i>",
                                                                         "PlayStation 4": "<i class=\"fa-brands fa-uncharted\"></i>",
                                                                             "Xbox Series S/X": "<i class=\"fa-brands fa-xbox\"></i>",
                                                                                 "Xbox One": '<img class="" src="/images/xboxOne.jpg">',
                                                                                 "Nintendo Switch": "<i class=\"fa-solid fa-gamepad\"></i>",
                                                                                     "macOS": "<i class=\"fa-brands fa-apple\"></i>",
                                                                                        "Linux": "<i class=\"fa-brands fa-linux\"></i>"

                                                                                            };
                                                                                            %>
                                    <%       if (Array.isArray(game.platforms)) {   %>
                                        <%    game.platforms.forEach(plat =>{ %>
                                            <%- platformMap[plat.platform.name] || plat.platform.name %>
                                            <%   })%>
                                        <%   } %>
                                </div>
                            </div>
                             <h1 itemprop="name" class="game_name_title"><%= name %></h1>
                        </div>
                        <div class="game_buttons">
                            <div class="add">
                                <div class="add_content">
                                    <div class="add_text">
                                        <div class="add_subtitle">Add to</div>
                                        <div class="add_title">My games
                                            <div class="add_counter"><%= game.added-game.added_by_status.toplay %></div>
                                        </div>
                                    </div>
                                    <div class="add_icon">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="whish">
                                <div class="whish_content">
                                    <div class="whish_text">
                                        <div class="whish_subtitle">Add to</div>
                                        <div class="whish_title">Whishlist
                                            <div class="whish_counter"><%= game.added_by_status.toplay %></div>
                                        </div>
                                    </div>
                                    <div class="whish_icon">
                                        <i class="fa-solid fa-gift"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="save">
                                <div class="save_content">
                                    <div class="save_text">
                                        <div class="save_subtitle">Save to</div>
                                        <div class="save_title">Collection </div>
                                    </div>
                                    <div class="save_icon">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rating-chart">
                            <div class="rating-chart_chart">
                                <div class="rating_text_wrapper" role="button" tabindex="0">
                                    <div class="rating_text"><%= game.ratings[0].title.charAt(0).toUpperCase() + game.ratings[0].title.slice(1) %></div>
                                    <%
                                                     const ratingMaps = {
                                                                "recommended": "<i class=\"fa-solid fa-thumbs-up\"></i>",
                                                                    "exceptional": "<i class=\"fa-solid fa-bullseye\"></i>",
                                                                         "skip": "<i class=\"fa-regular fa-rectangle-xmark\"></i>",
                                                                             "meh": "<i class=\"fa-regular fa-face-meh\"></i>"
                                                                                            };
                                                                                            %>
                                    <div class="rating_icon"> <%- ratingMaps[game.ratings[0].title] || game.ratings[0].title %></div>
                                </div>
                                <div class="ratting_chart_bottom">
                                    <a href="" class="ratting_chart_link"><%- game.reviews_count %> ratings</a>
                                </div>
                            </div>
                            <div class="rating-chart_chart">
                                <div class="rating_text_wrapper" role="button" tabindex="0">
                                    <div class="rating_text"># 216</div>
                                </div>
                                <div class="ratting_chart_bottom">
                                    <a href="" class="ratting_chart_link">platformer</a>
                                </div>
                            </div>
                            <div class="rating-chart_chart">
                                <div class="rating_text_wrapper" role="button" tabindex="0">
                                    <div class="rating_text"># 3</div>
                                </div>
                                <div class="ratting_chart_bottom">
                                    <a href="" class="ratting_chart_link">TOP 2026</a>
                                </div>
                            </div>
                            <div class="rating_dist">
                                <div class="rating_stat">

                                </div>
                                <div class="rating_dist_meta">
                                    <div class="rating_dist_labels">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Click to rate</p>
                        <div class="game_owner">
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <div class="game_about">
                            <h2>About</h2>
                            <div class="description">
                                <p class="desc"><%= game.description_raw %></p>
                            </div>
                        </div>
                        <div class="game_meta">
                            <div class="game_meta_block">

                            </div>
                        </div>
                        <div class="game_req">

                        </div>
                   </div>
                   <div class="right">
                        <div class="game_screenshots">
                            <div class="game_screenshots_inner">
                                <div class="game_movie">
                                       adadadadadadasdadasdadadadad
                                </div>
                                <div class="game_screenshots_list">

                                </div>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</main>
</body>
</html>