<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="content">
            <div class="content_header flex">
                <h1 class="head1"><%-  data.title[1] %></h1>
                <div class="game_name">
                    <p data-id="<%- id %>"><%-  name %></p>
                    <button id="return"><i class="fa-solid fa-x"></i></button>
                </div>
            </div>
                <div class="games">
                    <div class="controls flex-end">
                        <div class="display">
                            <div class="display_mode_title text">
                                Display options:
                            </div>
                            <div class="display_mode_select">
                                <div id="grid" class="mode-select active" role="button"></div>
                                <div id="column" class="mode-select" role="button"></div>
                            </div>
                        </div>
                    </div>    
                </div>     
                <div class="content_main">
                    <div class="discover_columns" id="load">
                        <% let xd = similar.length > 5 ? 5 : similar.length; %>
                        <% const rows = Math.ceil(similar.length / xd); %>
                        <% for(let i=0; i< xd; i++){ %>
                            <div class="discover_columns_column">
                                    <% for (let r = 0; r < rows; r++) { %>
                                    <% const index = r * xd + i; %>
                                    <% if (similar[index]) { %>
                                    <div class="game_card">
                                        <div class="card_wrapper" tabindex="0">
                                            <div class="card_media">
                                                <img src="<%= similar[index].background_image %>" alt="" loading="lazy">
                                                <div class="screenshot-gallery">
                                                    <div class="screenshot-gallery_wrapper">
                                                        <%  similar[index].short_screenshots.forEach(img =>{%>
                                                            <img src="<%= img.image %>" alt="">
                                                            <% })%>
                                                    </div>
                                                    <div class="screenshot-gallery_progress_wrapper">
                                                        <% if (similar[index].short_screenshots.length > 1) { %>
                                                         <% similar[index].short_screenshots.forEach(() => { %>
                                                            <span class="progress"></span>
                                                        <% }) %>
                                                        <% } %>
                                                    </div>   
                                                </div>
                                            </div>
                                            <div class="card_info">
                                                <div class="info_platforms">
                                                    <%
                                                     const platformMap = {
                                                                "PC": "<i class=\"fa-brands fa-windows\"></i>",
                                                                    "PlayStation 5": "<i class=\"fa-brands fa-playstation\"></i>",
                                                                         "PlayStation 4": "<i class=\"fa-brands fa-uncharted\"></i>",
                                                                             "Xbox Series S/X": "<i class=\"fa-brands fa-xbox\"></i>",
                                                                                 "Xbox One": '<img class="" src="./images/xboxOne.jpg">',
                                                                                 "Nintendo Switch": "<i class=\"fa-solid fa-gamepad\"></i>",
                                                                                     "macOS": "<i class=\"fa-brands fa-apple\"></i>",
                                                                                        "Linux": "<i class=\"fa-brands fa-linux\"></i>"

                                                                                            };
                                                                                            %>
                                                                                              <%       if (Array.isArray(similar[index].platforms)) {   %>
                                                                                                <%    similar[index].platforms.forEach(plat =>{ %>
                                                                                                    <%- platformMap[plat.platform.name] || plat.platform.name %>
                                                                                                    <%   })%>
                                                                                                <%   } %>
                                                </div>
                                                <div class="card_title">
                                                    <a href="game/<%= similar[index].name %>" class=""><%= similar[index].name %></a>
                                                </div>
                                                <div class="card_button">
                                                    <button>
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                                <ul class="card_about">
                                                    <li class="card_about_info">
                                                        <div class="term">Release date:</div>
                                                        <div class="description"><%= similar[index].released %></div>
                                                    </li>
                                                    <li class="card_about_info">
                                                        <div class="term">Genres:</div>
                                                        <div class="description">
                                                            <%- similar[index].genres
                                                                     .map(gen => `<span><a href="">${gen.name}</a></span>`)
                                                                              .join(', ') 
                                                                                %>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="more">
                                                    <a href="/games-like-<%= similar[index].slug %>" class="show_more_like">Show more like this</a>
                                                    <div class="arrow">
                                                        <span></span>   
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%  }%> 
                                <%  }%> 
                            </div>
                         <%  }%> 
                    </div>
                    <div class="circle_wrapper">
                        <div class="circle"></div>
                    </div> 
                </div>
        </div>
    </div>
</main>
</body>
</html>