<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="css/fontello.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/236e28bd84.js" crossorigin="anonymous"></script>
<script src="../app.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>APi</title>
</head>
<body>
    <header>
        <div class="logo">
            <i class="fa-solid fa-gamepad"></i><h1 class="title-logo"><%-  data.logo %></h1>
        </div>
        <form class="search">
            <i class="fa-solid fa-magnifying-glass"></i><input type="text" placeholder="Search <%-  games%> games" id="search-input">   
            <!-- onfocus="this.placeholder=''" -->
        </form>
        <div class="options">
           <a href="/login">LOG IN</a>
           <a href="/sign_up">SIGN UP</a>
        </div>
    </header>
    <main>
        <div class="container">
            <nav>
                <div class="sidebar">
                    <div class="menu">
                        <a href=""><%-  data.sidebar[0] %></a>
                    </div>
                    <div class="menu">
                        <a href=""><%-  data.sidebar[1] %></a>
                    </div>
                    <div class="elements">
                        <!-- for each dodac  -->
                        <div class="sidebar_menu">
                            <span class="title_menu">New Releases</span>
                                <ul class="sidebar_list">
                                    <li class="item">
                                         <a href=""><i class="fa-solid fa-fire"></i> Last 30days</a>
                                    </li>
                                    <li class="item">
                                         <a href=""><i class="fa-solid fa-fire"></i> This week</a>
                                    </li>
                                    <li class="item">
                                         <a href=""><i class="fa-solid fa-forward-fast"></i> Next week</a>
                                     </li>
                                    <li class="item">
                                     <a href=""><i class="fa-solid fa-3"></i><i class="fa-solid fa-1"></i>Release calendar</a>
                                    </li>
                                 </ul>
                      </div>
                      <div class="sidebar_menu">
                        <span class="title_menu">Top</span>
                            <ul class="sidebar_list">
                                <li class="item">
                                    <a href=""><i class="fa-solid fa-trophy"></i>Best of the year</a>
                               </li>
                               <li class="item">
                                <a href=""><i class="fa-solid fa-chart-simple"></i>Popular in 2025</a>
                                </li>
                                <li class="item">
                                    <a href=""><i class="fa-solid fa-crown"></i> All time top 250</a>
                               </li>
                            </ul>
                      </div>
                      <div class="sidebar_menu">
                        <a href="" class="title_menu">All Games</a>
                      </div>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="content_header">
                    <h1 class="head1"><%-  data.title[0] %></h1>
                    <p class="subtitle"><%-  data.subtitle %></p>
                    <div class="games">
                        <div class="controls">
                            <div class="filter">

                            </div>
                            <div class="display">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>