<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="css/fontello.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/236e28bd84.js" crossorigin="anonymous"></script>
<script src="../app.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>APi</title>
</head>
<body>
    <header>
        <div class="logo">
            <i class="fa-solid fa-gamepad"></i><h1 class="title-logo"><%-  data.logo %></h1>
        </div>
        <form class="search">
            <i class="fa-solid fa-magnifying-glass"></i><input type="text" placeholder="Search <%-  games%> games" id="search-input">   
            <!-- onfocus="this.placeholder=''" -->
        </form>
        <div class="options">
           <a href="/login">LOG IN</a>
           <a href="/sign_up">SIGN UP</a>
           <div class="mode-content">
            <div class="toggle-sw">
                <i class="fa-solid fa-moon moon" aria-hidden="true"></i>
                <i class="fa-solid fa-sun sun" aria-hidden="true"></i>
            </div> 
           </div>
        </div>
    </header>
    <main>
        <div class="container">
            <nav>
                <div class="sidebar">
                    <% for(let i=0;i<data.sidebar.length;i++){%>
                    <div class="menu">
                        <a href=""><%-  data.sidebar[i] %></a>
                    </div>
                    <%  }%>
                    <div class="elements">
                        <% for(let i=0;i<data.sidebarMenu.length;i++){%>
                        <div class="sidebar_menu">
                            <%- data.sidebarMenu[i].mainTitle  ? `<a href="" class="title_menu">${data.sidebarMenu[i].mainTitle}</a>` : '' %>
                            <span class="title_menu"><%-  data.sidebarMenu[i].title %></span>
                                <ul class="sidebar_list">
                                    <% for(let j=0;j<data.sidebarMenu[i].Name.length;j++){%>
                                    <li class="item <%= j > 2 & i > 1? 'hidden initial-hidden' : '' %>">
                                         <a href="">
                                            <%- data.sidebarMenu[i].title === 'Genres' ? `<img class="discover_img" src="${data.sidebarMenu[i].Img[j]}">` : `<i class="fa-solid ${data.sidebarMenu[i].Icon[j]}"></i>`%>                                       
                                            <%- data.sidebarMenu[i].Name[j] ==="Popular in YEAR" ? data.sidebarMenu[i].Name[j].replace("YEAR", new Date().getFullYear()) : data.sidebarMenu[i].Name[j] %>
                                        </a>
                                    </li>
                                    <%  }%>
                                    <% if (data.sidebarMenu[i].showAll) { %>
                                        <li class="show-all">
                                            <div class="discover">
                                                <div class="arrow">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                                <span class="discover_text">Show All</span>
                                            </div>
                                        </li>
                                    <% } %>
                                 </ul>
                      </div>
                      <%  }%>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="content_header">
                    <h1 class="head1"><%-  data.title[0] %></h1>
                    <p class="subtitle"><%-  data.subtitle %></p>
                    <div class="games">
                        <div class="controls">
                            <div class="filter">
                                <div class="select">
                                    <div class="dropdown_filter_select" data-default="<%= data.order[0] %>">
                                        <label for="order" class="select-trigger text">
                                            Order by: <span><%= data.order[0] %></span>
                                        </label>  
                                        <div class="arrow_li">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <ul class="select-options text">
                                            <% data.order.forEach(o => { %>
                                                <li data-value="<%= o %>" class="text"><%= o %></li>
                                                <%  })%>
                                            </ul>
                                    </div>
                                    <div class="dropdown_filter_select" data-default="<%= data.platforms[0] %>">
                                        <label for="platform" class="select-trigger text">
                                            Platforms <span><%= data.platforms[0] %></span>
                                        </label>
                                        <div class="arrow_li">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <ul class="select-options text">
                                            <% (data.platforms?.parents || []).forEach(p => { %>
                                               <li data-value="<%= p %>" class="text"><%= p %>
                                                <% 
                                                const key = p.toLowerCase();
                                                const children = data.platforms[key];
                                              %>
                                                    <% if (Array.isArray(children) && children.length > 0) { %>
                                                        <span class="arrow_child">▶</span>
                                                        <div class="children">
                                                           <% children.forEach(c=>{%>
                                                                <a href="">
                                                                    <span class="text"><%= c %></span>
                                                                </a>
                                                           <%  })    %>
                                                        </div>
                                                      <% } %>
                                                </li>
                                                <%  })%>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="display">
                                <div class="display_mode_title text">
                                    Display options:
                                </div>
                                <div class="display_mode_select">
                                    <div id="grid" class="mode-select active" role="button"></div>
                                    <div id="column" class="mode-select" role="button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_main" id="load">
                    <div class="discover_columns">
                        <% for(let i=0; i<data.allGames.length; i += 4){ %>
                            <div class="discover_columns_column">
                                <%   data.allGames.slice(i, i + 4).forEach(game =>{ %>
                                    <div class="game_card">
                                        <div class="card_wrapper" tabindex="0">
                                            <div class="card_media">
                                                <img src="<%= game.background_image %>" alt="">
                                            </div>
                                            <div class="card_info">
                                                <div class="info_platforms">
                                                    <%
const platformMap = {
  "PC": "<i class=\"fa-brands fa-windows\"></i>",
  "PlayStation 5": "<i class=\"fa-brands fa-playstation\"></i>",
  "PlayStation 4": "<i class=\"fa-brands fa-uncharted\"></i>",
  "Xbox Series S/X": "<i class=\"fa-brands fa-xbox\"></i>",
  "Xbox One": '<img class="" src="./images/xboxOne.jpg">',
  "Nintendo Switch": "<i class=\"fa-solid fa-gamepad\"></i>",
  "macOS": "<i class=\"fa-brands fa-apple\"></i>",
  "Linux": "<i class=\"fa-brands fa-linux\"></i>"

};
%>
                                                    <%       if (Array.isArray(game.platforms)) {   %>
                                                        <%    game.platforms.forEach(plat =>{ %>
                                                            <%- platformMap[plat.platform.name] || plat.platform.name %>
                                                            <%   })%>
                                                        <%   } %>
                                                </div>
                                                <div class="card_title">
                                                    <a href="" class=""><%= game.name %></a>
                                                </div>
                                                <div class="card_button">
                                                    <button>
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                                <ul class="card_about">
                                                    <li class="card_about_info">
                                                        <div class="term">Release date:</div>
                                                        <div class="description"><%= game.released %></div>
                                                    </li>
                                                    <li class="card_about_info">
                                                        <div class="term">Genres:</div>
                                                        <div class="description">
                                                            <%- game.genres
                                                                     .map(gen => `<span><a href="">${gen.name}</a></span>`)
                                                                              .join(', ') 
                                                                                %>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <button class="more" onclick="loadSimilar(<%= game.id %>)">
                                                    <a href="" class="show_more_like">Show more like this</a>
                                                    <div class="arrow">
                                                        <span></span>   
                                                        <span></span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <%  })%>
                                </div>
                                <%  }%>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>